@font-face {
	font-family: Flama-Basic;
	src: url(fonts/Flama-Basic.woff);
	font-weight: 700;
}
html{
	overflow-x: hidden;
}
body{
	margin: 0;
}
/* header*/
header .menu{
	width: 100%;
	height: 55px;
	background: #fff;
	position: absolute;
	z-index: 100;
}
header .menulogo{	
	width: 138px;
	height: 60px;
}
header .p{
	font-size: 25px;
	text-align: center;
		font-family: "Flama-Basic";
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

}
header .leftlogo, header .logop, header .rightlogo{
	height: 100%;
}
header .rightlogo{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

header .menulogo2{
	height: 48px;
	width: 48px;
	float: right;
	margin-right: 15px;

}
header .fixed{
  position: fixed;
  top: 0;
  margin-top: 2px;
  
}
/*main*/

/*section part1*/


.part1 .backvideo{
	width: 100%;
}

.part1 .backvideom{
	display: none;
}	
.part1 .video1{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.part1 .videoh {
	position: absolute;
	z-index: 50;
	width: 1069px;
	text-align: center;
	opacity: 0;
	transition: 4s;
	margin-top: 40px;
}
.part1 .videoh h1{
	
	color: #fff;
	font-family: "Lato";
	font-size: 80px;
	font-weight: 900;

}
.part1 .translate{
	transform: translateY(-40px);
	opacity: 1;
}
.part1 .video1 .videoh2{
	position: absolute;
	bottom: 0;
	text-align: center;
}
.part1 .video1 .videoh2 h2{
	background-image: none;
    background-color: transparent;
    border-bottom: 1px solid #e5c769;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 0 15px;
    padding-bottom: 15px;
    font-family: "Lato";
    font-weight: 900;
}
.part1 .video1 .videoh2 h4{
	    color: #000;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 20px 0;
}

/*section part2*/

body .block2{
	display: flex;
	justify-content: center;
	align-items: center;
}
.part2 .post{
	color: #000;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
    margin: 45px 0;
    text-align: center;
    max-width: 1024px;

}
.part2 .post a{
	text-decoration: none;
	font-family: "Lato";
	color: #e5c769;
	font-weight: 900;
}
.part2 .post a:hover{
	color: #555555;
}
.part2 .video2{
	max-width: 1022px;
	border-radius: 5px;
}
.part2 .post2{
	    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    margin: 50px 0 14px;
    max-width: 400px;
    float: right;

}
.part2 .img2{
	max-width: 1010px;
	margin: 40px 0;
	position: relative;
	margin-bottom: 100px;
}
.part2 .img2 img{
	border-radius: 5px;
	margin-left: -90px;
}
.part2 div.quote{
	background: #67635c;
	color: #fff;
	width: 415px;
	padding: 5px;
	border-radius: 5px;
    font-family: Flama-Basic;
    float: right;
    position: absolute;
    top: -15%;
    right:  -5%;
    opacity: 0;
    transition: 4s;
    margin-left: -70px;
}
.part2 .quote blockquote{
		    font-size: 35px;
    font-weight: 500;
    line-height: 1.5;
    margin: 30px 60px;
    text-align: center;
}
.part2 div.translate{
	opacity: 1;
	transform: translateY(-20px);
}
.part2 .quote h4{
	margin: 18px 50px 18px 0;
    text-align: right;
}

/*section part3*/
main .part3{
	padding: 150px 0;
}
.part3 .video3{
	max-width: 1022px;
	height: auto;
	border-radius: 5px;
}

/*section part4*/
.part4 .post4{
	max-width: 400px;
	float: right;
	margin-top: 80px;
	margin-right: -100px;
}
.part4 .post4 h3{
	font-weight: 700;
	font-family: "Lato";
	font-size: 24px;
}
.part4 .post4 p{
	font-family: 'Lato';
	    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    margin: 10px 0 14px;
}
.part4 .post4 a{
	text-decoration: none;
	color: #e5c769;
	font-weight: 700;
}
.part4 .post4 a:hover{
	color: #555555;
}
.part4 .quote2 blockquote{
	font-size: 35px;
    font-weight: 500;
    line-height: 1.5;
    margin: 55px 60px 30px;
    text-align: center;	

}
.part4 .quote2 h4{
	margin: 18px 50px 18px 0;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
}
.part4 .quote2{
	max-width: 415px;
	margin-top:150px;
	transition: 4s;
	opacity: 0;
	transition: 4s;
	margin-left: 100px;
}
.part4 .translate{
	opacity: 1;
	transform: translateY(-20px);
}

/*section part5*/

.part5 .tomato{
	max-width: 1176px;
	margin-top: 50px;
	position: relative;
}
.part5 .tomato img{
	border-radius: 5px;
}
.part5 .tomatop{
	max-width: 400px;
	background: #fff;
	border-radius: 5px;
	padding-top: 50px;

    font-family: 'Lato';
    position: absolute;
    top: 15%;
    right: 15%;
    opacity: 0;
    transition: 4s;
}
.part5 .translate{
	opacity: 1;
	transform: translateY(-50px);
}
.part5 .tomatop h3{
	    margin: 0 0 0 50px;
    text-align: left;
    font-size: 24px;
    font-weight: 900;

}
.part5 .tomatop p{
	    font-size: 15px;
    line-height: 2;
    margin: 15px 50px 14px;
    text-align: left;
}
.part5 .tomatop ul{
	padding-left: 0;
    margin: 0;
    padding-bottom: 20px;
}
.part5 .tomatop li{
	font-size: 15px;
    margin: 16px 40px 16px 70px;
    text-align: left;
}
.part5 .tomatop li a{
	    color: #e5c769;
    font-weight: 700;
    text-decoration: none;
}
.part5 .tomatop li a:hover{
	color: #555555;
}

/*section part6*/

.part6 .video4{
	max-width: 1022px;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*section part7*/

.part7 .product {
	max-width: 200px;
	text-align: center;
}

.part7 .product .photoproduct{
	height: 200px;
		
}
.part7 .product .nameproduct{
	    color: #464646;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    word-spacing: 0;
}

.part7 .product .buttonproduct{
	    background-image: none;
    background-color: #67635c;
    border: 1px solid #67635c;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;	
}
.part7 .product .buttonproduct a {
	font-family: 'Lato'
    font-size:18px;
    color: #fff;
    text-decoration: none;
}

/*section part8*/

.part8 .gilrlstomato{
max-width: 1010px;
margin-top: 50px;
position: relative;
}
.part8 .gilrlstomato img{
	border-radius: 5px;
	margin-left: -100px;
}
.part8 .listquote{
	max-width: 415px;
	position: absolute;
	top: 70%;
	right: -10%;
}
.part8 .listquote .quote3 blockquote{
	font-size: 35px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0px 60px 30px;
    text-align: center;
}
.part8 .listquote .quote3 h4{
	margin: 18px 50px 0 0;
    text-align: right;
        font-size: 16px;
    font-weight: 700;
}
.part8 .listquote .quote3{
	background-color: #67635c;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 55px;
	padding-bottom: 18px;
}
.part8 .listquote ul{
	padding: 20px;
    margin: 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.part8 .listquote ul li{
	font-family: "Lato";
	font-size: 15px;
    font-weight: 700;
    line-height: 2;
    margin: 0 0 16px 20px;
    text-align: left;
}
.part8 .listquote ul li a{
	text-decoration: none;
	color: #e5c769;
	font-weight: 700;
}
.part8 .listquote ul li a:hover{
	color: #555555;
}
.part8 .post5{
	    max-width: 400px;
    float: right;
    margin-top: 40px;
    margin-right: -100px;
}
.part8 .post5 h3{
	    font-weight: 700;
    font-family: "Lato";
    font-size: 24px;
}
.part8 .post5 p{
	    font-family: 'Lato';
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    margin: 10px 0 14px;
}

/*section part9*/

.part9 .food{
	max-width: 984px;
	margin-top: 50px;
	position: relative;
}
.part9 .food img{
	margin-bottom: 50px;
}
.part9 .food .pointer{
	width: 444px;
	height: 111px;
	background: #fff;
	box-shadow:2px 3.464px 15px 0px rgba( 90, 122, 255, 0.3);
	border-radius: 10px;
	position: absolute;
	top: 70%;
	right: -15%;
}
.part9 .food .pointer a{
	    color: #8a3626;
	    text-decoration: none;
	    font-family: "Lato";
	    font-size: 32px;

}
.part9 .food .pointer svg{
	width: 70px;
    height: 60px;
    fill: #8a3626;
}
.part9 .food .pointer h2{
	margin-right: 20px;
}

/*section part10*/

.part10 .logoend{
	max-width: 272px;
	margin: 100px;
	margin-left: auto;
	margin-right: auto;
}
.part10 .listbrand{
	margin-bottom: 90px;
}
.part10 .listbrand p{
	color: #fff;
    font-family: 'Lato';
    font-size: 30px;
    display: inline-block;
    margin: 0 20px;
}

/*footer*/

footer{
	background: #202020;
}
footer .p1{
color: #fff;
text-align: center;
margin: 14px 0;
font-family: "Lato";
font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 85px;
    max-width: 356px;
}
footer .footercontent{
	max-width: 1024px;
	display: flex;
	justify-content: center;
	margin: 50px auto 50px;
}

footer .footercontent img{
	max-width: 66px;
	max-height:  66px;
	float: right;
}
footer .p{
	display: inline-table;
	padding: 30px;
	padding-top: 0;
	padding-left: 0;
}

footer .p p{
	margin: 10px 0;
	font-family: "Lato";
	font-size: 14px;
	color: #fff;
}
footer .p p:nth-of-type(1){
	margin-top: 0;
}
footer .footercontact{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: auto;
	margin-bottom: 50px;
}
footer .ptelefone {
	font-weight: 700;
	font-family: "Lato";
	font-size: 14px;
	color: #fff;

}
footer .ptelefone a {
	text-decoration: none;
	color: #009688;
}
footer .listlink{
	margin-bottom: 20px;
}
footer .listlink a {
	text-decoration: none;
	color: #009688;
	font-weight: 300;
	font-family: "Lato";
	font-size: 14px;
	padding: 0 5px;
	border-right: 2px solid #fff;
}
footer .listlink a:nth-of-type(1){
	padding-left: 0;
}
footer .end{
	font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;	
    font-family: "Lato";
    max-width: 814px;
}